body {
  margin: 5px; 
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: 0;
  background-color: #DDDDDD;
  height: 1px;
  margin: 5px;
}

a {
	text-decoration:none;
}

a:link {
    text-decoration: none;
}
a:hover {
	text-decoration:none;
}


.remove {
  font-size: x-small;
  vertical-align: top;
}

.email {
  font-size: x-small;
  vertical-align: top;
}

form td {
  font-size: smaller;
} 

.main {
	background-image: url("img/bg.jpg");
	width: 100%;
	heigth: 100%; 
	text-align: center;
}

.main2 {
	background-image: url("img/bg2.jpg");
	width: 100%;
	height: 100%;
	
}
html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.title {
	box-shadow: 2px 2px 5px black;
	color: #111;
	border: 1px solid rgba(86,61,124,.2);
	padding:5px 5px 5px 5px; 
	margin-top: 0px;
	margin-bottom: 1px;
	background: rgba(210, 210, 210, 0.5);
}

.t1 {
  	font-family: 'Plaster', cursive;
  	letter-spacing: 24px;	
	font-weight: 400;
	font-size: 48px;
	text-transform: uppercase;
	
}

.t2 {
	font-family: 'Arial', cursive;
}

.resource {
	height: 30%;
	border: 1px solid #C5C5C5;
	padding: 5px !important;
	text-align: center;
	margin: 5px; 
	display: block;
	background: rgba(0, 0, 40, 0.1);
}
.reserve {
	height: 30%;
	border: 1px solid #C5C5C5;
	border-radius: 25px;
	padding-top: 25px;
	padding-left: 8px !important;
	padding-right: 8px !important;
	padding-bottom: 8px !important;
	margin: 5px; 
	display: block;
	background: rgba(0, 0, 40, 0.1);
	font-size: 17px;
}

.resource:hover{
	border: 2px solid #000066;
}

.reserve:hover{
	border: 2px solid #000066;
	    border-radius: 25px;
	
}
.btn.btn-border-w:hover, .btn.btn-border-w:focus{
	background: #000066;
	border-color: transparent;
	color: #fff;
}

.btn.btn-border-w, .btn.btn-border-p {
background: transparent;
border: 1px solid rgba(2, 2, 2, .75);
color: #222;
}

.btn.btn-border-p:hover, .btn.btn-border-p:focus{
	background: #222;
	border-color: transparent;
	color: #fff;
}

.col-md-2 {
	margin: 30px !important;
}

.height {
		margin: 20px !important;
	
		height: 180px;
	
}

.top-1{
	align: right;
}
.state-free{
	background: 00CC66;
}

.groups {
	padding-left: 15px;
	padding-right: 15px;
}



.free {
	background-color: #dff0d8;
}
.busy {
	background-color: #f2dede;
}
.disabled{
	background-color: #fcf8e3;
}

.max-width{
	width: 25% !important;
}
#buttonReserve, #buttonConsult {
	float: left;
}
.wrapper {
	padding-left: 0px !important;
}

label, #webmaster{
	margin-left: 15px;
}
.user {
	font-size: 12px;
}
.buttons {
	margin-top: 15px;
}
.line {
	margin-top: 6px;
	margin-bottom: 6px;
}
