body {
  margin: 5px; 
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: 0;
  background-color: #DDDDDD;
  height: 1px;
  margin: 5px;
}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}


.remove {
  font-size: x-small;
  vertical-align: top;
}

.email {
  font-size: x-small;
  vertical-align: top;
}

form td {
  font-size: smaller;
} 

.main {
	background-image: url("img/bg.jpg");
	width: 100%;
	heigth: 100%; 
	text-align: center;
}

.main2 {
	background-image: url("img/bg2.jpg");
	width: 100%;
	heigth: 100%;
	background-repeat: no-repeat;
	
}
html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.title {
	box-shadow: 2px 2px 5px black;
	color: #111;
	border: 1px solid rgba(86,61,124,.2);
	padding:5px 5px 5px 5px; 
	margin-top: 0px;
	margin-bottom: 1px;
	background: rgba(210, 210, 210, 0.5);
}

.t1 {
  	font-family: 'Plaster', cursive;
  	letter-spacing: 24px;	
	font-weight: 400;
	font-size: 48px;
	text-transform: uppercase;
	
}

.t2 {
	font-family: 'Arial', cursive;
}

.resource {
	height: 30%;
	border: 1px solid rgba(86,61,124,.2);
	text-align: center;
	margin: 5px; 
	display: block;
}

.resource:hover{
	border: border: 1.5px solid rgba(51,51,255,.5);

}

.btn.btn-border-w:hover, .btn.btn-border-w:focus{
	background: #222;
	border-color: transparent;
	color: #fff;
}

.btn.btn-border-w {
background: transparent;
border: 1px solid rgba(2, 2, 2, .75);
color: #222;
}

.main{
	
}