<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CreateResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateResource</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>RemoveResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.RemoveResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveResource</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CancelReserve</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CancelReserveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelReserve</servlet-name>
		<url-pattern>/cancel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyReserve</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ModifyReserveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyReserve</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModifyResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ModifyResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyResource</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ReserveResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ReserveResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReserveResource</servlet-name>
		<url-pattern>/reserve</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckReservesResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CheckReservesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckReservesResource</servlet-name>
		<url-pattern>/myreserves</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminReservesResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.AdminReservesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminReservesResource</servlet-name>
		<url-pattern>/reserves</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateGroupServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CreateGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateGroupServlet</servlet-name>
		<url-pattern>/createGroup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReserveGroupServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ReserveGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReserveGroupServlet</servlet-name>
		<url-pattern>/reserveGroup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModifyGroupServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ModifyGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyGroupServlet</servlet-name>
		<url-pattern>/modifyGroup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveGroupServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.RemoveGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveGroupServlet</servlet-name>
		<url-pattern>/removeGroup</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ConsultResourceServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ConsultResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultResourceServlet</servlet-name>
		<url-pattern>/consult</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SetConfigServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.SetConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetConfigServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckRequestsServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CheckRequestsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckRequestsServlet</servlet-name>
		<url-pattern>/requests</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DecideRequestServlet</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.DecideRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DecideRequestServlet</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	
<security-constraint>
	<web-resource-collection>
		<web-resource-name>CreateResource</web-resource-name>
		<url-pattern>/new</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>ModifyResource</web-resource-name>
		<url-pattern>/modify</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>RemoveResource</web-resource-name>
		<url-pattern>/remove</url-pattern>
	</web-resource-collection>
		<web-resource-collection>
		<web-resource-name>CreateGroup</web-resource-name>
		<url-pattern>/createGroup</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>ModifyGroup</web-resource-name>
		<url-pattern>/modifyGroup</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>RemoveGroup</web-resource-name>
		<url-pattern>/removeGroup</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>SetConfig</web-resource-name>
		<url-pattern>/config</url-pattern>
	</web-resource-collection>
	 <auth-constraint>
	<role-name>admin</role-name>
	</auth-constraint> 
</security-constraint>
</web-app>
