<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CreateResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateResource</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>RemoveResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.RemoveResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveResource</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CancelReserve</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CancelReserveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelReserve</servlet-name>
		<url-pattern>/cancel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModifyResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ModifyResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyResource</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ReserveResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.ReserveResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReserveResource</servlet-name>
		<url-pattern>/reserve</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckReservesResource</servlet-name>
		<servlet-class>es.upm.dit.isst.labreserve.CheckReservesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckReservesResource</servlet-name>
		<url-pattern>/myreserves</url-pattern>
	</servlet-mapping>
	
	
	
	
	
<security-constraint>
	<web-resource-collection>
		<web-resource-name>CreateResource</web-resource-name>
		<url-pattern>/new</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>CreateResource</web-resource-name>
		<url-pattern>/modify</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>CreateResource</web-resource-name>
		<url-pattern>/remove</url-pattern>
	</web-resource-collection>
	 <auth-constraint>
	<role-name>admin</role-name>
	</auth-constraint> 
</security-constraint>
</web-app>
